# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
*.class

# Mac
.DS_Store

# Logs
logs/
*.log

# Appium
node_modules/
appium.log

# Screenshots
screenshots/

# Allure
allure-results/
allure-report/
